body {
    display: flex;
    flex-direction: column;

}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    padding-top: 2%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#mainContainer > div {
    padding: 1%;
}

#scoreboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#score {
    display: flex;
    justify-content: space-between;
    width: 90%;
}


#announcementContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#gameChoicesContainer {
    display: flex;
    font-size: 9vw;
}

#gameChoicesContainer > div {
    padding: 30px;
}


#choiceOptions {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#choiceBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#choiceBtn > button {
    font-size: 3vw;
}

#retryBtnContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    font-size: 3vw;
}

#retryBtnContainer > button {
    font-size: 1.5vw;
}

